h1 {
  background-image: url("https://thumbs.dreamstime.com/b/fondos-blancos-36703195.jpg");
}



/*barra pegajosa*/
.estiloListaNoOrdenada{
  background-color: black;
  list- style- type: none;
  padding: 10px;
  width: 100%;
  position: sticky;
  top:2px;
}

li{
  display:inline;
  padding-left: 50px;
}